.page {
    max-width: 100%;
    min-height: 1217px;
    background: #000000;
    margin: 0 auto;
    padding: 45px 15px 0;
}
@media  screen and (max-width: 320px) {
    .page {
        padding: 28px 15px 0;
    }
}   