.element__delete {
  width: 18px;
  height: 19px;
  background: transparent url('../../../images/delete.svg');
  cursor: pointer;
  border-style: none;
  background-repeat: no-repeat;
  object-fit: cover;
  padding: 0;
  position: absolute;
  left: 80%;
  bottom: 84%;
  margin: 20px;
}
.element__delete:hover {
  opacity: 0.5;
  transform: scale(1.3);
}
