.profile__image {
    display: block;
    width: 24px;
    height: 24px;
    padding: 0 0 30px 18px;
}
@media  screen and (max-width: 320px) {
    .profile__image {
        width: 18px;
        height: 18px;
        padding: 0 0 0 10px;
    }
}