.profile__edit {
  align-self: center;
  width: 24px;
  height: 24px;
  background: transparent url('../../../images/open-popup.svg') 50% 10px;
  background-position: center;
  background-color: inherit;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  padding: 0;
  background-repeat: no-repeat;
  margin: 0;
  cursor: pointer;
}
.profile__edit:hover {
  opacity: 0.6;
}
@media screen and (max-width: 320px) {
  .profile__edit {
    width: 18px;
    height: 18px;
    background-size: 18px;
    background-size: 7.5px;
  }
}
