.popup__button {
  display: flex;
  flex-direction: column;
  width: 358px;
  height: 50px;
  background: #000000;
  border-radius: 2px;
  border: 2px solid #000000;
  margin: 0 auto;
  padding: 14px 125px;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}
.popup__button:hover {
  opacity: 0.8;
}
@media screen and (max-width: 450px) {
  .popup__button {
    max-width: 238px;
    padding: 14px 82px;
    font-size: 14px;
    line-height: 17px;
  }
}
