.pupup__submit-buttom_text {
  max-width: 109px;
  min-height: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  padding: 14px 0 18px;
}
