.pupup__close-icon {
  position: relative;
  width: 32px;
  height: 32px;
  left: 15.25rem;
  bottom: 35.625rem;
  margin: 0 auto;
  cursor: pointer;
}
.pupup__close-icon:hover {
  opacity: 0.6;
}
@media screen and (max-width: 550px) {
  .pupup__close-icon {
    left: 12.25rem;
  }
}
@media screen and (max-width: 450px) {
  .pupup__close-icon {
    width: 20px;
    height: 20px;
    left: 8.25rem;
    bottom: 22rem;
  }
}
