.profile__name {
  max-width: 294px;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #ffffff;
  padding: 0;
  margin: 0;
  align-self: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@media screen and (max-width: 450px) {
  .profile__name {
    max-width: 238px;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    margin: 0 auto;
  }
}
