.profile__edit {
    align-self: center;
}
.profile__edit:hover {   
    opacity: 0.6;
}
@media  screen and (max-width: 650px) {
    .profile__edit {
        position: relative;
        bottom: 70px;
        left: 165px;
    }
}
@media  screen and (max-width: 450px) {
    .profile__edit {
        position: relative;
        bottom: 60px;
        left: 106px;           
    }
}