.profile__image_buttom {
    max-width: 150px;
    min-height: 50px;
    display: block;
} 
@media  screen and (max-width: 650px) {
    .profile__image_buttom {
        align-self: center;
    }
} 
@media  screen and (max-width: 320px) {
    .profile__image_buttom {
        max-width: 100%;
    }
}     