.popup__field {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin: 0 auto;
  padding: 54px 0 18px;
}
@media screen and (max-width: 450px) {
  .popup__field {
    max-width: 238px;
    padding: 75px 0 15px;
  }
}
